h1{
    font-size: 2.7em; padding: 5%;
}
.condicion-precio{
    padding-top: 5%;
}
.servicio{
    width: 70%;
    padding: 5% 0;
}
.seccion-video p{
    width: 70%;
}
.video-perrito{
    padding: 5% 0;
}