h1 {
  font-size: 2.7em;
  padding: 5%;
}
.condicion-precio {
  padding-top: 5%;
}
.servicio {
  width: 70%;
  padding: 5% 0;
}
.seccion-video p {
  width: 70%;
}
/* .video-perrito{
    padding: 5% 0;
} */
.icono-reproducir {
  padding: 2%;
  /* font-size: 20px; */
  border: #f7f3f3 4px solid;
  color: #fcfbfb;
  border-radius: 100%;
  /* margin: 0 auto; */
  /* z-index: 1000; */
}

.video-perrito {
  margin-top: 5%;
  cursor: pointer;
  background-image: url(../img/video-bg-free-img.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 500px;
  background-position: center center;
  border-radius: 15px;
}
/* .video-perrito img{
    width: 100%;
    border-radius: 20px;
     transition: 0.6s;
    box-shadow:0px 25px 25px  rgba(0, 0, 0, 0.3);

} */
.video-perrito:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
 
}

.contendor-precio {
  flex-direction: row;
}
.contenido-seccion {
  padding: 10% 0;
  width: 70%;
  margin: 0 auto;
}
.contenido-titulo-texto-boton {
  text-align: center;
}
.contenido-titulo-texto-boton h2 {
  padding-bottom: 20px;
  color: #261a36;
  font-size: 38px;
}
.iframe-perrito{
  animation: grow 6s ;
}
@keyframes grow {
  0%{
    transform: scale(0.1);
  }
  100%{
    transform: scale(1);
  }
  
}

.modal-video-perrito {
    top: 0;
    position: fixed;
    z-index: 1;
    background-color: rgba(185, 184, 184, 0.5);
    width: 100vw;
    height: 100vh;
    display: none;
    

}
.boton-modal {
  padding: 2%;
}
.boton-cerrar {
  position: relative;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.5em;
}

#boton-desplegar-modal:checked + .modal-video-perrito {
  /*debes ser mi hermano directo*/
  
  display: flex;
 
  
}


#boton-desplegar-modal {
  display: none;
}

.targetas{
  width: 60%;
}
.targeta-preguntas{
  margin:0 0 5% 0;
  padding: 3%;
  border-radius: 15px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}
.targeta-preguntas p{
  padding: 7% 0;
  text-align:justify;
  display: none;
}
.boton-fa-desplegable{
  color: #ff9c00;
  font-size: 1.5em;
  padding-left: 8%;
  cursor: pointer;
  
}
.checkbox-fa ~ h4 span label::after{
  content: "+";
}
.checkbox-fa:checked ~ h4 span label::after{
  content: "-";
  color: #6c00ff;
}
.checkbox-fa:checked ~ p{
  display: block;
}
.checkbox-fa{
  display: none;
}

@media (max-width: 900px) {
  .video-perrito {
    height: 300px;
  }
}
